{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2>Панель администратора</h2>
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <i class="fas fa-tasks"></i> Управление квизами
                        </h5>
                        <p class="card-text">Создание и редактирование квизов</p>
                        <div class="d-grid gap-2">
                            <a href="{{ url_for('quiz_list') }}" class="btn btn-primary">
                                <i class="fas fa-list"></i> Список квизов
                            </a>
                            <a href="{{ url_for('create_quiz') }}" class="btn btn-success">
                                <i class="fas fa-plus"></i> Создать квиз
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <i class="fas fa-users"></i> Пользователи
                        </h5>
                        <p class="card-text">Управление пользователями</p>
                        <a href="{{ url_for('manage_users') }}" class="btn btn-primary">
                            <i class="fas fa-user-cog"></i> Управлять пользователями
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <i class="fas fa-chart-bar"></i> Статистика
                        </h5>
                        <p class="card-text">Просмотр статистики квизов</p>
                        <a href="{{ url_for('statistics') }}" class="btn btn-primary">
                            <i class="fas fa-chart-line"></i> Смотреть статистику
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
