{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2>Панель администратора</h2>
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Управление квизами</h5>
                        <p class="card-text">Создание и редактирование квизов</p>
                        <a href="#" class="btn btn-primary">Управлять квизами</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Пользователи</h5>
                        <p class="card-text">Управление пользователями</p>
                        <a href="#" class="btn btn-primary">Управлять пользователями</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Статистика</h5>
                        <p class="card-text">Просмотр статистики квизов</p>
                        <a href="#" class="btn btn-primary">Смотреть статистику</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
